{% extends 'base.html' %}
{% block content %}

<h1>You are not a current user! But you can become one </h1>

<h2>Registration Form</h2>
    <h3>Provide an age and zipcode. We already have your email and password that you provided</h3>

<form id="userAgeZip" action="/register" method="POST">
    <p>Your email address is: {{ email }}</p>
    <p>Your password is: ******** </p>
    <p>How old are you in years?</p>
        <textarea id="userAge" name="age" value="age">Age</textarea>
        <p>What is your zipcode?</p>
        <textarea id="userZipcode" name="zipcode" value="zipcode">Zipcode</textarea>
    <button type="submit">Submit!</button>
</form>

<script type="text/javascript">

let myForm = document.querySelector('#userAgeZip');

function checkSubmit(evt) {
    console.log("Let's check submit!!")
    checkIfNum(evt, document.querySelector('#userAge'))
}

function checkIfNum(evt, age) {
    let numericExpression = /^[0-9]+$/;
    if (age.value.match(numericExpression)) {
        return true;
    } else {
        evt.preventDefault();
        alert("You must enter a whole number for age.")
    }
}

myForm.addEventListener('submit', checkSubmit);

// function checkZipcodeLength(zipcode) {
//     if (zipcode.length == 5 && zipcode.value.match(numericExpression)) {
//         return true;
//     } else {
//         alert("Your zipcode must be five digits long.")
//     }
// }

// checkZipcodeLength(zipcode);

</script>

{% endblock %}